{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block meta_description %}LDN Discoveries on [NP≠P] {% endblock %}
{% block title %} ACS-ERC: Research Breakthrough on [NP≠P] {% endblock %}

{% block content %}
    <div class="container mt-5 p-5">
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for msg in messages %}
                <div><strong>{{ msg }}</strong></div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="col-md-6 mx-auto">
        <h5><b><i>Donor No {{ donor.pk }} to our Research Trust Fund</i></b></h5>
        <section class="details mx-auto">
            <section class="row">
                <div class="col-md-4">
                    <strong>Donor's name:</strong>
                </div>
                <div class="col-md-8">
                    {{ donor.full_name }}
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    <strong>Email:</strong>
                </div>
                <div class="col-md-8">
                    {{ donor.email }}
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    <strong>Organisation:</strong>
                </div>
                <div class="col-md-8">
                    {{ donor.organisation }}
                </div>
            </section>
        </section>
        </div>
    </div>
{% endblock %}