{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block meta_description %}LDN Discoveries on [NP≠P] {% endblock %}
{% block title %} ACS-ERC: Research Breakthrough on [NP≠P] {% endblock %}

{% block content %}
    <div class="container register m-3 p-5">
        <h5 class="register-title mx-auto">Register a Donor Here:</h5>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <input class="btn-register col-md-2 roundpill mx-auto" type="submit" value="Register Donor" />
                <input class="btn-cancel col-md-2 roudpill mx-auto" type="button" value="Cancel" />
            </div>
        </form>
    </div>
{% endblock %}