{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-primary py-0 mb-4 fixed-top text-white">
    <div class="container-fluid">
        <a href="{% url 'mip-home' %}" class="brand-logo text-white">
            <img class="img-fluid logo-banner m-2" width="84" height="28" src="{% static 'mipweb/logos/acserc_georgia_ad02.svg' %}" alt="Website-Logo">
        </a>
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenuTop"
            aria-controls="navmenuTop"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenuTop">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-nowrap nav-list">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'mip-home' %}"><i class="fa fa-home px-1"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#research"><i class="fa fa-university px-1"></i>Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mip-team' %}"><i class="fa fa-users px-1"></i>Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cs-ip"><i class="fa fa-laptop px-1"></i>Computer Science Impossible Jump</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-handshake-o px-1"></i>Partner With Us</a>
                    <ul class="sub-menu">
                        <li><a href="#"><i class="fa fa-gg-circle" aria-hidden="true"></i>Collaborate with us</a></li>
                        <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>Donate to our Research</a></li>
                        <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i>Hire our Services</a></li>
                        <li><a href="#"><i class="fa fa-table" aria-hidden="true"></i>Request for a Demo</a></li>
                        <li><a href="#"><i class="fa fa-compass" aria-hidden="true"></i>Make a Follow Up</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success text-white" type="submit">Search</button>
            </form>
        </div>
        <div class="header bottom-navbar">
            <nav></nav>
        </div>
    </div>
</nav>