<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner Page</title>
</head>
<body>
    <div class="partners">
        <div class="container-partners">
            <div class="partner-pic js-tilt" data-tilt>
                <img src="{% static 'icons/icon-partner-name.png' %}" alt="IMG01">
            </div>
        </div>
    </div>
    <div class="container">
        <form action="" class="partner-form validate-form" method="post">
            {% csrf_token %}
            <span class="partner-form-title">
                Partner with Us
            </span>

            <div class="wrap-input validate-input" data-validate="First Name is required">
                <input type="text" class="input1" name="first_name" placeholder="Partner's First Name">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input validate-input" data-validate="Last Name is required">
                <input type="text" class="input1" name="last_name" placeholder="Partner's Last Name">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input validate-input" data-validate="Valid email is required: my-name@my-domain.xyz">
                <input type="text" class="input1" name="email" placeholder="Email Address">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input validate-input" data-validate="Name of Organisation is required">
                <input type="text" class="input1" name="company_name" placeholder="Partner's Organisation Name">
                <span class="shadow-input1"></span>
            </div>

            <div class="btn-group row">
                <h3>Select Type of Partnership</h3>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="demo" id="request-demo">
                    <label class="form-check-label" for="request-demo">Request for a Demo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="research" id="research-collabo" checked>
                    <label class="form-check-label" for="research-collabo">Research Collaboration</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="consultancy" id="hire-our-services" checked>
                    <label class="form-check-label" for="hire-our-services">Hire our Services</label>
                </div>
            </div>
        </form>
    </div>

</body>
</html>