{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- {% load static %} -->
{% block meta_description %}LDN Discoveries on [NP≠P] {% endblock %}
{% block title %} ACS-ERC: Research Breakthrough on [NP≠P] {% endblock %}

{% block content %}
    <div class="row">
        <h2 class="title">Donate to our Research Trust</h2>
        <hr class="mt-0 mb-4">
        <form method="post" class="frm-donor">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Submit Your Pledge</button>
            <button type="button" class="btn btn-danger mi-4">Cancel</button>
        </form>
    </div>
{% endblock %}