{% extends 'base.html' %}

{% load static %}
{% block meta_description %}Apply for Partnership with ACS-ERC{% endblock %}
{% block title %}Partnering with ACS-ERC{% endblock %}
{% block content %}

<div class="container-fluid text-white mt-5 pt-5">
    <div class="card center spacer">
        <h1 class="title bg-light border border-primary rounded-pill text-center text-dark">
            Register Partnership
        </h1>
        <div class="row social-login m-3 p-3">
            <div class="col">
                <button class="social-btn">
                    <img src="{% static 'mipweb/icons/gmail.svg' %}" alt="gmail icon" class="icon">
                    Gmail
                </button>
            </div>
            <div class="col">
                <button class="social-btn">
                    <img src="{% static 'mipweb/icons/facebook.svg' %}" alt="facebook icon" class="icon">
                    Facebook
                </button>
            </div>
        </div>
        <div class="text-center line form-divider m-2 p-2">or</div>
    </div>
    <form method="get" class="partner-application spacer bg-light" id="signup-form">
        <div class="input-group p-3">
            <img  class="icon input-icon px-2" src="{% static 'mipweb/icons/person-square.svg' %}" alt="">
            <input required type="text" name="first-name" class="form-control" id="first-name" placeholder="First Name">
        </div>
        <div class="input-group p-3">
            <img  class="icon input-icon px-2" src="{% static 'mipweb/icons/person-bounding-box.svg' %}" alt="">
            <input type="text" name="middle-name" class="form-control" id="middle-name" placeholder="Middle Name">
        </div>
        <div class="input-group p-3">
            <img  class="icon input-icon px-2" src="{% static 'mipweb/icons/person-square.svg' %}" alt="">
            <input required type="text" name="last-name" class="form-control" id="last-name" placeholder="Last Name">
        </div>
        <div class="input-group p-3">
            <img  class="icon input-icon px-2" src="{% static 'mipweb/icons/envelope.svg' %}" alt="">
            <input required type="email" name="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="input-group p-3">
            <img  class="icon input-icon px-2" src="{% static 'mipweb/icons/building.svg' %}" alt="">
            <input required type="text" name="comapny-name" class="form-control" id="company-name" placeholder="Company Name">
        </div>
        <div class="container-fluid">
            <h2 class="type-partnership text-dark">Choose the type of Patnership</h2>
            <select class="form-select form-select-md" aria-label=".form-select-md mip-partner">
                <option selected>Select type of Partnership</option>
                <option value="services">Hire our Services</option>
                <option value="collaborate">Request for a Demo</option>
                <option value="demo">Research Collaboration</option>
                <option value="donation">Make a Donation</option>
            </select>
            <div class="input-group m-5 p-5 bg-light">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Request for Demo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Hire our Services
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Research Collaboration
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Make a Donation
                    </label>
                </div>
            </div>
        
            <!-- <h2 class="areas-partnership text-dark">Choose Area(s) of Patnership</h2>
            <select class="form-select form-select-md" aria-label=".form-select-md mip-partner" multiple>
                <option selected>Select Area(s) of Partnership ...</option>
                <option value="csij">Computer Science Impossibility Jump</option>
                <option value="lln-es">LifeLinesNets - Emergency States</option>
                <option value="lln-tr">LifeLinesNets - Topological Reliability</option>
                <option value="smart-grids">Smart Grids</option>
                <option value="iec-stds-conform">IEC Standards Conformity</option>
                <option value="acfta-iec-stds-eco">ACFTA IEC Standards Ecosystem</option>
                <option value="illie">Integrated LifeLines Infrastructure Emergency - Disaster Protection</option>
            </select> -->
        </div>
        <div class="col-12 m-3 p-3">
            <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
        </div>
    </form>
</div>

{% endblock %}