{% extends 'base.html' %}

{% load static %}
{% block meta_description %}Apply for Partnership with ACS-ERC{% endblock %}
{% block title %}Partnering with ACS-ERC{% endblock %}
{% block content %}

    <form name="registerForm" class="partner-form bg-light">
        <div class="registration bg-light text-white">
            <div class="register-title">
                <h1 class="title text-center text-dark">
                    Choose type of Partnership
                </h1>
            </div>
            <div class="input-group bg-light text-dark">
                <div class="form-check m-3 p-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Request for Demo
                    </label>
                </div>
                <div class="form-check m-3 p-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Hire our Services
                    </label>
                </div>
                <div class="form-check m-3 p-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Research Collaboration
                    </label>
                </div>
                <div class="form-check m-3 p-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Make a Donation
                    </label>
                </div>
            </div>
            <div class="col-12 m-3 p-3">
                <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}